.MenuHorizontal{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(241, 241, 241) 100%);
    transition: .5s ease;
    position: relative;
}

.MenuHorizontal > a{
    color: #2A2A2A;
    text-decoration: none;
    padding: 0 10px;
    font-weight: 700;
    font-size: .9em;
    transition: .1s ease;
}

.MenuHorizontal.scroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(67,233,123,1) 0%, rgba(80,250,137,1) 100%);;
    z-index: 1000;
    padding: 25px 0;
}

.MenuHorizontal.scroll > a{
    color: white;
}

.MenuHorizontal.scroll > .MenuActive{
    color: black !important;
}

.MenuDock{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: rgb(255,255,255);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    border-top: 1px solid rgb(194, 194, 194);
}

.MenuDock > a{
    font-size: 1.7em;
    color: #b1b1b1;
}

.MenuActive{
    color: #43E97B !important;
}

.MenuHorizontal > a:hover{
    opacity: .7;
}

.loginButtonInner{
    position: absolute;
    right: 30px;
}

@media only screen and (max-width: 900px){
    .MenuHorizontal{
        display: none;
    }

    .MenuDock{
        display: flex;

    }
}