.Home{
    background: rgb(255,255,255);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomeFeed{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp_line{
    width: 4px;
    height: 100%;
    background-color: #144A8D;
}

.lp_inner{
    width: 92%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.lp_site_inner, .lp_insta_inner{
    width: 49.2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.lp_img_inner{
    display: flex;
    justify-content: space-between;
}

.lp_text_inner{
    margin: 30px 0 90px 0;
}

.lp_insta_inner > p, .lp_site_inner > p{
    font-size: 1em;
    font-weight: 700;
}

.HomeJournal{
    width: 100%;
    height: 500px;
    background-color: #003a74;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.hjLeft{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hjLImgInner{
    width: 600px;
    height: 80%;
    background-color: #C6151C;
    border-radius: 10px;
}

.hjRight{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hjRTextsInner > h1{
    width: 80%;
    color: white;
}

.hjRTextsInner > h3{
    width: 80%;
    color: #e6171e;
    font-weight: 700;
    font-size: 1em;
}

.hjRLink{
    color: #003a74;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 25px;
    background-color: white;
    border-radius: 20px;
    transition: .2s ease;
}

.hjRLinkAll{
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 20px;
    outline: 1px white solid;
    margin-left: 10px;
    transition: .2s ease;
}

.hjRLink:hover{
    color: white;
    background-color: transparent;
    outline: 1px white solid;
}

.hjRLinkAll:hover{
    color: #003a74;
    background-color: white;
    border-radius: 20px;
}

.hjROldVersionsInner{
    display: flex;
}

.HomeFridayCult, .HomeCourses, .HomeCalendar{
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.HomeCourses{
    background-color: white
}

.HomeFridayCult, .HomeCalendar{
    padding: 80px 0 100px 0;
}
.coursesInner{
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hmc_comps{
    width: calc(92% + 14px);
    display: flex;
}

@media only screen and (max-width: 900px){
    .Home{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .HomeJournal{
        flex-direction: column;
        height: auto;
        padding: 0 0 30px 0px;
    }

    .hjLeft{
        width: 85%;
        height: 250px;
    }

    .hjRight{
        width: 85%;
        justify-content: inherit;
    }

    .hjRTextsInner > h1{
        width: 100%;
        font-size: 1em !important;
    }

    .hjRTextsInner > h3{
        font-size: .7em;
    }

    .hjRLinksInner{
        width: 100%;
        margin-top: 15px;
    }

    .hjRLink, .hjRLinkAll{
        font-size: .7em;
    }

    .hjROldVersionsInner{
        display: none;
    }

    .HomeCourses{
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
    }

    .coursesInner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: auto;
    }

    .lp_inner{
        flex-direction: column;
    }

    .lp_insta_inner, .lp_site_inner{
        width: 100%;
    }

    .lp_text_inner{
        margin: 30px 0;
    }

    .HomeFridayCult, .HomeCalendar{
        padding: 20px 0 50px 0;
    }
}

/* ### DARK THEME ### */

[data-theme="dark"] .HomeFeed{
    background-color: #181A1B;
}

[data-theme="dark"] .HomeFridayCult, .HomeCalendar{
    background-color: #26292B;
}

[data-theme="dark"] .HomeJournal{
    background-color: #002E5D;
}

[data-theme="dark"] .hjRTextsInner > h1{
    color: #E8E6E3;
}

[data-theme="dark"] .hjRLinkAll{
    color: #E8E6E3;
    outline-color: #E8E6E3;
}

[data-theme="dark"] .hjRLinkAll:hover{
    background-color: #E8E6E3;
    color: #002E5D;
}

[data-theme="dark"] .hjRLink{
    background-color: #E8E6E3;
    color: #002E5D;
}

[data-theme="dark"] .hjRLink:hover{
    outline-color: #E8E6E3;
    color: #E8E6E3;
}

[data-theme="dark"] .HomeCourses{
    background-color: #181A1B;
}