.lmLinkInner{
    height: 27px;
    width: 6px;
    background-color: red;
    font-size: .7em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1px 0;
    cursor: pointer;
    text-decoration: none;
    transition: .4s ease;
    position: relative;
    overflow: visible;
}

.lmLinkInner > div{
    position: absolute;
    top: 0;
    left: 6px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 0px;
    background-color: black;
    transition: .3s ease;
}

.lmLinkInner > div > p{
    color: white;
    font-weight: 400;
    font-size: .9em;
    letter-spacing: 2px;
    margin-right: 5px;
}

.lmLinkInner:hover > div{
    width: 90px;
}