.Journals{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #f1f1f1 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journalList{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}