.AboutCard {
    width: 50%;
    height: 480px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin-bottom: 35px;
}

.AboutCard__sideImage {
    height: 100%;
    width: 250px;
    border-radius: 20px 0 0 20px;
}

.AboutCard__sideImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.AboutCard__content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutCard__content__header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.AboutCard__content__header > h3 {
    font-weight: 700;
    font-size: 1.4em;
}

.AboutCard__content__header > h4 {
    font-weight: 600;
    font-size: 1em;
    color: rgb(73, 73, 73);
}

.AboutCard__content__body{
    width: calc(100% - 70px);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.AboutCard__content__body > p {
    font-size: .9em;
    margin-top: 30px;
    text-align: justify;
}

.AboutCard__leftArrow {
    width: 70px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 35px);

    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.15);
    border-radius: 0px 20px 20px 0px;
}

.AboutCard__rightArrow {
    width: 70px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(100% - 70px);
}

@media only screen and (max-width: 900px){
    .AboutCard{
        width: 89%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .AboutCard__sideImage{
        width: 100%;
        height: 190px;
        border-radius: 20px 20px 0 0;
    }

    .AboutCard__content{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
    }

    .AboutCard__rightArrow, .AboutCard__leftArrow{
        top: 50px;
    }

    .AboutCard__leftArrow{
        left: 0;
    }

    .AboutCard__content__body{
        width: 100%;
        height: 85%;
    }

    .AboutCard__content__body > p{
        margin-top: 10px;
    }

    .AboutCard__content__header{
        height: 15%;
        margin-top: 10px;
    }
}

[data-theme="dark"] .AboutCard{
    background-color: #1B1E25;
}

[data-theme="dark"] .AboutCard__content__body > p{
    color: #C9CED8;
}
[data-theme="dark"] .AboutCard__content__header > h3{
    color: #C9CED8;
}
[data-theme="dark"] .AboutCard__content__header > h4{
    color: #7b7e83;
}