.AboutCard {
    width: 50%;
    height: 30em;
    background-color: white;

    position: relative;

    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;

    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15)
}

.AboutCard__sideImage {
    border-radius: 20px 0 0 20px;
}


.AboutCard__sideImage > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;

}

.AboutCard__content {
    padding: 3em 6.5em 2em 2.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
}

.AboutCard__content__header {
    grid-row-start: 1;
    grid-row-end: 2;

}

.AboutCard__content__header > h3 {
    font-size: 1.5em;
    font-weight: 700;
}

.AboutCard__content__header > h4 {
    font-size: 16px;
    font-weight: 550;
    color: rgba(0,0,0,0.75);
    margin-bottom: 1em;
}


.AboutCard__content__body > p {
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
}

.AboutCard__leftArrow {
    width: 70px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 35px);

    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.15);
    border-radius: 0px 20px 20px 0px;
}

.AboutCard__rightArrow {
    width: 70px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(100% - 70px);
}