.pageDescInner{
    margin-bottom: 20px;
}

.pageDescInner > h2{
    font-weight: 700;
    font-size: 1.3em;
}

.pageDescInner.scroll{
    margin-top: 90px;
}

.pageDescInner > hr{
    background-color: #43E97B;
    width: 200px;
    height: 2px;
    outline: none;
    border: none;
    border-radius: 100px;
}

@media only screen and (max-width: 900px){
    .pageDescInner{
        width: 89% !important;
        margin-top: 25px;
        color: white;
    }

    .pageDescInner >h2{
        background-color: #14622E;
        font-size: 1em;
        font-weight: 500;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        border-radius: 20px;
    }

    .pageDescInner > hr{
        display: none;
    }
}