.pageDescInner{
    margin-bottom: 20px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text_inner > h2{
    font-weight: 700;
    font-size: 1.3em;
    width: max-content;
}

.pageDescInner.scroll{
    margin-top: 90px;
}

.pd_date{
    font-size: .9em;
    font-weight: 600;
}

.pd_date > span{
    color: #14622E;
}

.text_inner > hr{
    background-color: #3BC96A;
    width: 200px;
    height: 2px;
    outline: none;
    border: none;
    border-radius: 100px;
}

.text_inner{
    width: max-content;
}

@media only screen and (max-width: 900px){
    .pageDescInner{
        margin-top: 25px;
        color: white;
    }

    .text_inner >h2{
        background-color: #14622E;
        font-size: 1em;
        font-weight: 500;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        border-radius: 20px;
    }

    .text_inner > hr{
        display: none;
    }
}

[data-theme="dark"] .text_inner > hr{
    background-color: #2B9E64;
}

[data-theme="dark"] .pageDescInner{
    color: #C7C2BB;
}

[data-theme="dark"] .pd_date > span{
    color: #C7C2BB;
}

[data-theme="dark"] .pd_date{
    color: #2B9E64;
}