.LeftMenu{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: auto;
    background-color: white;
    z-index: 1000;
    border: 1px solid #f1f1f1;
    border-color: #f1f1f1 #f1f1f1 #f1f1f1 white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    flex-direction: column;
    left: 0;

}

/* .LeftMenu:hover{
    width:100px;
    align-items:flex-start;
    padding-left: 12px
} */

[data-theme="dark"] .LeftMenu{
    background-color: #14171D;
    border-color: #0e1116 #0e1116 #0e1116 #14171D;
}