.LeftMenu{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    background-color: white;
    z-index: 1000;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    flex-direction: column;
    left: 0;

}

.LeftMenu:hover{
    width:100px;
    align-items:flex-start;
    padding-left: 12px
}