.News{
    background: rgb(255,255,255);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsPostInner{
    width: 50%;
}

.paginationButtons{
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0px 0 10px 0;
    justify-content: end;
}

.paginationButtons > button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3em;
    color: #43E97B;
    transition: .2s ease;
}

.paginationButtons > button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.paginationButtons > select{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #43E97B;
    color: white;
    padding: 0;
}

.linkPost{
    text-decoration: none;
}

@media only screen and (max-width: 900px){
    .newsPostInner{
        width: 89%;
    }

    .News{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-bottom: 62px;
    }

    .paginationButtons{
        width: 89%;
        margin-bottom: 25px;
    }
}

[data-theme="dark"] .News{
    background-color: #14171D;
}

.paginationButtons > button{
    color: #2B9E64;
}

.paginationButtons > select{
    background-color: #2B9E64;
}