.DarkToggle{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF9F00;
    border: 1px solid #181a1B;
    outline: 1px solid white;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

[data-theme="dark"] .DarkToggle{
    background-color: #181a1B;
    border-color: #C7C2BB;
    outline-color: #181a1B;
    color: #C1E3F8;
}

