/* #==== DEFAULT FOR POST ====#*/

.lpImgInner{
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.lpImgBlur{
    width: 100%;
    height: 100%;
    background: rgb(2, 68, 7);
    background: linear-gradient(0deg, rgba(2, 83, 9, 0.527) 0%, rgba(0,212,255,0) 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
}

.lpImgInner > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.lpTextsInner{
    position: relative;
    z-index: 1;
    padding: 15px;
}

.lpTextsInner > h3{
    font-weight: 700;
    font-size: 1em;
    color: white;
}

.lpTextsInner > p{
    font-size: .7em;
    color: white;
    width: 80%;
    font-weight: 400;
    line-height: 1.1;
}


/* #==== LARGE POST ====# */

.LatestPostInnerLarge{
    width: 100%;
    height: 220px;
    position: relative;
    display: flex;
    align-items: end;
    cursor: pointer;
    transition: .2s ease;
    margin-bottom: 10px;
}

.LatestPostInnerLarge:hover{
    transform: scale(1.02);
}

/* #==== SMALL POST ====# */

.LatestPostInnerSmall{
    width: 49%;
    height: 220px;
    position: relative;
    display: flex;
    align-items: end;
    cursor: pointer;
    transition: .2s ease;
    margin: 10px 0;
}

.LatestPostInnerSmall:hover{
    transform: scale(1.02);
}

@media only screen and (max-width: 900px){
    .LatestPostInnerSmall{
        width: 48%;
        font-size: .8em;
    }
}