.latestPostsInner{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lpSmallInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeFade{
    width: 40%;
    margin: 25px 0;
    text-align: end;
}

.homeFade > a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.Home > a:hover{
    text-decoration: underline;
}

.css-1c2fuzs{
    display: flex;
    flex-direction: column;
}

.linkSmall{
    width: 32%;
}

@media only screen and (max-width: 900px){
    .latestPostsInner{
        width: 89%;
    }

    .homeFade{
        width: 89%;
    }

    .homeFade > a{
        background-color: #14622E;
        width: max-content;
        align-self: flex-end;
        color: white;
        padding: 5px 15px;
        border-radius: 20px;
        margin: 0 0 25px 0 ;
    }

    .homeFade > a:hover{
        opacity: .8;
    }
}