.Files{
    background: rgb(255,255,255);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[data-theme="dark"] .Files {
    background-color: #14171D;
}

.fl_inner{
    width: 92%;
    display: flex;
    gap: 20px;
}