.LinkTitle{
    font-size: .7em;
    font-weight: 600;
    padding: 5px 20px;
    background-color: #3BC96A;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    transition: .2s ease;
}

.LinkTitle:hover{
    background-color: #247740;
}


[data-theme="dark"] .LinkTitle{
    background-color: #2b9e64;
    color: #ffffff;
}

[data-theme="dark"] .LinkTitle:hover{
    background-color: #195e3b;
}

/* #2B9E64 */
/* #C7C2BB */
