.imgHeaderInner{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgHeaderInner > img{
  height: 80%;
}

.Main {
  color: black;
  width: 100%;
  height: auto;
  margin-bottom: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  position: relative;
}