@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  background: #43e97b;
  background: linear-gradient(90deg, rgba(67,233,123,1) 0%, rgba(80,250,137,1) 100%);
}

#root{
  display: flex;
  flex-direction: column;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(85, 85, 85, 0.267);
  border: 2px solid transparent;
  background-clip: content-box;
}