.HomeFriday{
    width: 100%;
    height: 160px;
    padding: 0 7px;
}

.HomeFriday > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HomeFriday > img:hover{
    transform: scale(1.03);
}